.show {
	animation: show-item 5s ease-in forwards;
}
.hide {
    animation: hide-item 5s ease-in forwards;
}

@keyframes show-item {
    0%{
        opacity: 0;
        color:red;
    }
    50%{
        opacity: 0.5;
        color:green;
    }
    100%{
        opacity: 1;
        color:blue;
    }
}